<aside class="sidebar column is-2 is-narrow-mobile is-fullheight section">
    <h2 class="title">Workouts</h2>
    <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="Add Schdedule">
        </div>
        <div class="control">
          <a class="button is-info">Add</a>
        </div>
      </div>
    <ul class="menu-list">
      <li>
        <a href="#">
          <span class="icon"><i class="fa fa-table"></i></span> schedules
        </a>

        <ul>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fa fa-link"></i></span> Link1
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fa fa-link"></i></span> Link2
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="">
          <span class="icon"><i class="fa fa-info"></i></span> About
        </a>
      </li>
    </ul>
  </aside>