<aside class="sidebar column is-2 is-narrow-mobile is-fullheight section">
    <h2 class="title">Workouts</h2>
    <div class="field has-addons">
        <div class="control">
          <input #scheduleName class="input" type="text" placeholder="Add Schdedule">
        </div>
        <div class="control">
          <a (click)="onAddSchedule()" class="button is-info">Add</a>
        </div>
      </div>
      <span class="icon"><i class="fa fa-table"></i></span> schedules

    <ul class="menu-list">
      <li
      *ngFor="let s of scheduleLinks"
      >
        <a href="#">
          <span class="icon is-small"><i class="fa fa-link"></i></span>{{s.name}}
        </a>
      </li>
    </ul>
  </aside>